<aside class="sidebar" [ngClass]="{'active': isActive}">
    <div class="logo">
       <img class="w-100" src="../../../../Screenshot 2025-04-12 160603.png"/>
    </div>
  
   <nav class="menu">
      <h1 class="menu-header">Admin</h1>
    
       <a [routerLink]="['home']" routerLinkActive="nav-active" >   
      <div class="menu-item " data-tooltip="Home">

        <i class="fa-solid fa-house"></i>

        <span>Home</span>
      </div>
       
       </a> 
       <div  class="nav-item dropdown" [ngClass]="{'nav-active':settingClicked}" >
        <a class="nav-link dropdown-toggle menu-item " data-tooltip="Settings"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
            <span>Settings <i class="fa-solid fa-caret-down"></i></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
          <li><a class="dropdown-item p-2 weight" routerLinkActive="nav-active" routerLinkActive="nav-active" (click)="settingActive()">weight Settings</a></li>
          <li><a class="dropdown-item p-2" [routerLink]="['branches']" routerLinkActive="nav-active">Branches</a></li>
        </ul>
       </div>
       
     
     <a [routerLink]="['employees']" routerLinkActive="nav-active">
      <div class="menu-item" data-tooltip="Employees">
        <i class="fa-solid fa-users"></i>
        <span>Employees</span>
      </div>
      </a>

    
     <a [routerLink]="['governrates']" routerLinkActive="nav-active">
      <div class="menu-item" data-tooltip="Governrates">
        <i class="fa-solid fa-truck-fast"></i>
        <span>Governrates</span>
      </div>
      </a>
      <a [routerLink]="['orders','All']" routerLinkActive="nav-active">
        <div class="menu-item" data-tooltip="Orders">
          <i class="fa-solid fa-bag-shopping"></i>
          <span>Orders</span>
        </div>
      </a>
      <a [routerLink]="['reports']" routerLinkActive="nav-active">
      <div class="menu-item" data-tooltip="Reports">
        <i class="fa-solid fa-file"></i>
        <span>Reports</span>
      </div>
      </a>
      <!-- <h1 class="menu-header shortcuts">Shortcuts</h1>
      <div class="menu-item" data-tooltip="Add">
        <i class="bx bx-add-to-queue"></i>
        <span>Add</span>
      </div>
      <div class="menu-item" data-tooltip="Remove">
        <i class="bx bx-message-square-minus"></i>
        <span>Remove</span>
      </div> -->
    </nav>
  
    <div class="logout" data-tooltip="Logout" (click)="logout()">
      
      <span  class="mx-2">Logout</span>
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </div>
  
    <div class="toggle-menu" (click)="toggleSidebar()"> 
       <!-- @if (!isActive) {
            <i class="fa-regular fa-square-caret-right"></i> 
        }
        @else if (isActive) {
            <i class="fa-regular fa-square-caret-left"></i>
        }   -->
     
       <i class="fa-solid fa-bars"></i> 
    </div>
  </aside>