.orders-title {
    color: #083c5f;
    font-weight: bold;
  }
  
  .add-order-btn {
    background-color: #f26522;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;
  }
  
  .nav-tabs .nav-link {
    color: #083c5f;
    font-weight: 500;
  }
  
  .nav-tabs .nav-link.active {
    border-bottom: 2px solid #f26522;
    color: #f26522;
  }
  

  .edit-btn {
    background-color: #f26522;
    color: white;
    border: none;
    border-radius: 6px;
  }
  .styled-date::-webkit-calendar-picker-indicator {
    filter: invert(0.1);     /* Adjusts icon color */
    cursor: pointer;         /* Makes it clear it's clickable */
    opacity: 0.7;            /* Optional: a bit more subtle */
    transition: opacity 0.2s;
  }
  
  .styled-date:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
  }
  .box{
    display: flex;
    justify-content: space-between;
  }
 