    <div class="container">
     
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/Admin/orders','All']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
         
              >All</a
            >
          </li>
           
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/Admin/orders','New']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"

              >New</a
            >
          </li> 
          
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/Admin/orders','pending']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              > Pending</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/Admin/orders','Delivered']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Delivered to representative</a
            >
          </li>
            
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/Admin/orders','Delivered ']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Delivered</a
            >
          </li>
         
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/Admin/orders','CannotBeReached']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Cannot Be Reached</a
            >
          </li>
          
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/Admin/orders','Delayed']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Delayed</a
            >
          </li>
          
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/Admin/orders','PartiallyDelivered']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Partially Delivered</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/Admin/orders','CanceledByRecipient']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Canceled By Recipient</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/Admin/orders','rejectedWithPaid']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >rejected With Paid</a
            >
          </li>


      
          <li class="nav-item">
            <a
              class="nav-link  "
              aria-current="page"
              [routerLink]="['/orders','rejectedNotPaid']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >rejected Not Paid</a
            >
          </li>
         
          
         
         
        
          
        
        
         
         
        </ul>
    </div>
