    <div class="container">
     
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/orders','All']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
         
              >All</a
            >
          </li>
           
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/orders','New']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"

              >New</a
            >
          </li> 
          
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/orders','pending']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{ category: 'all', page: 10 }"
              > Pending</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/orders','Delivered']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >تم التسليم للمندوب</a
            >
          </li>
            
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/orders','Delivered ']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >تم التسليم </a
            >
          </li>
         
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/orders','CannotBeReached']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >لا يمكن الوصول</a
            >
          </li>
          
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/orders','Delayed']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >تم التاجيل</a
            >
          </li>
          
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/orders','PartiallyDelivered']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >تم التسليم جزئيا</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/orders','CanceledByRecipient']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >تم الالغاء من قبل المستلم  </a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['/orders','rejectedWithPaid']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >تم الرفض مع الدفع</a
            >
          </li>


          <li class="nav-item">
            <a
              class="nav-link "
              aria-current="page"
              [routerLink]="['']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >رفض مع سداد جزء</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link  "
              aria-current="page"
              [routerLink]="['/orders','rejectedNotPaid']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >رفض ولم يتم الدفع</a
            >
          </li>
         
          
         
         
        
          
        
        
         
         
        </ul>
    </div>
