<div class="container mt-5">
    <h2 class="text-center">المحافظات</h2>
    <div class="d-flex justify-content-between mb-3">
        <input type="text" class="form-control w-25" placeholder="Search">
    </div>
    
    <table class="table table-bordered text-center">
        <thead class="thead-light">
            <tr>
                <th>الاعدادات</th>
                <th>الحالة</th>
                <th>الاسم </th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button class="btn btn-success btn-sm">تعديل</button>
                    
                </td>
              
                <td><label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
                </td>

                
                <td>القاهرة</td>
                <td>1</td>
            </tr>
            <tr>
               <td>
                    <button class="btn btn-success btn-sm">تعديل</button>
                    
                </td>
                <td><label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
                </td>
                
                <td>المنوفية</td>
                <td>2</td>
            </tr>
            <tr>
                               <td>
                    <button class="btn btn-success btn-sm">تعديل</button>
                    
                </td>
                <td><label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
                </td>
                
                <td>المنصورة</td>
                <td>3</td>
            </tr>
            <tr>
                               <td>
                    <button class="btn btn-success btn-sm">تعديل</button>
                    
                </td>
                <td><label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
                </td>
                
                <td>المنوفية</td>
                <td>4</td>
            </tr>
           
        </tbody>
    </table>
</div>
