<!-- <div class="container mt-5">
    <h2 class="text-center">المحافظات</h2>
    <div class="d-flex justify-content-between mb-3">
        <input type="text" class="form-control w-25" placeholder="Search">
    </div>
    
    <table class="table table-bordered text-center">
        <thead class="thead-light">
            <tr>
                <th>الاعدادات</th>
                <th>الحالة</th>
                <th>الاسم </th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @for (gvrn of gvrns; track gvrn.id) {
                <tr>
                    <td>
                        <button class="btn btn-success btn-sm"><i class="fa-solid fa-pen"></i></button>
                        
                    </td>
                  
                    <td><label class="switch">
                    <input type="checkbox" [checked]="!gvrn.isDeleted">
                     <span class="slider round"></span>
                    </label>
                    </td>
    
                    
                    <td>{{gvrn.name}}</td>
                    <td>{{$index+1}}</td>
                </tr>
          
            }
            
           
        </tbody>
    </table>
</div> -->



<div class="container mt-5 w-75 m-auto">
      <h2 class="orders-title mb-3">Governrates</h2>
    <table class="table table-hover align-middle mt-4 text-center ">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Status</th>
          <th>Settings</th>
        </tr>
      </thead>
      <tbody>
        @for (gvrn of gvrns; track gvrn.id) {
            <tr>
                <td>{{$index+1}}</td>
                <td>{{gvrn.name}}</td>
                <td><label class="switch">
                    <input type="checkbox" [checked]="!gvrn.isDeleted">
                     <span class="slider round"></span>
                    </label>
                    </td> 
                <td>
                    <button class="btn btn-success btn-sm"><i class="fa-solid fa-pen"></i></button>
                </td>
                 
            </tr>
        }
      </tbody>
    </table>
  
    <!-- pagination -->
  </div>