<div class="orders-wrapper container mt-5 ps-4">
  @if (!edit) {
    <h2 class="orders-title">Add Order</h2>
   
  }@else {
    <h2 class="orders-title">Edit Order</h2>
     
  }
    
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div class="row g-4">
        <div class="col-md-6">
          <label class="form-label">Type</label>
          <select class="form-select" formControlName="shippingMethod"  [ngClass]="{
            'is-valid': shippingMethod.valid && (shippingMethod.touched || shippingMethod.dirty),
            'is-invalid': shippingMethod.invalid && (shippingMethod.touched || shippingMethod.dirty)
          }" >
            <option selected disabled>Select type </option>
            <option value="FromCompanyBranch">From Company Branch</option>
            <option value="FromMerchentBranch">From Merchent Branch</option>
        </select>
        @if (shippingMethod.touched) {
             @if (shippingMethod.hasError('required')) {
                <div  class="form-text text-danger">Shipping Method is required </div>
            }
         }
        </div>

        <div class="col-md-6">
          <label class="form-label">Customer Name</label>
          <input type="text" class="form-control" placeholder="Customer Name"  id="customerName" 
          formControlName="customerName" 
          [ngClass]="{
            'is-valid': customerName.valid && (customerName.touched || customerName.dirty),
            'is-invalid': customerName.invalid && (customerName.touched || customerName.dirty)
          }" 
        />
          @if (customerName.touched|| customerName.dirty) {
            @if (customerName.hasError('required')) {
                <div  class="form-text text-danger">customer Name is required </div>
            }
            @if (customerName.hasError('minlength')) {
                <div  class="form-text text-danger">minimum 3 charachters </div>
            }
          }
        </div>

        <div class="col-md-6">
          <label class="form-label">Phone Number</label>
          <input type="text" class="form-control" placeholder="Phone Number"  formControlName="customerPhone"  [ngClass]="{
            'is-valid': customerPhone.valid && (customerPhone.touched || customerPhone.dirty),
            'is-invalid': customerPhone.invalid && (customerPhone.touched || customerPhone.dirty)
          }" />
          @if (customerPhone.touched || customerPhone.dirty) {
            @if (customerPhone.hasError('required')) {
                <div  class="form-text text-danger">Phone number is required </div>
            }
            @if (customerPhone.hasError('pattern')) {
                <div  class="form-text text-danger">enter a valid Phone number </div>
            }
          }
        </div>

        <div class="col-md-6">
          <label class="form-label">Email Address</label>
          <input type="email" class="form-control" placeholder="Email Address" formControlName="customerEmail" [ngClass]="{
            'is-valid': customerEmail.valid && (customerEmail.touched || customerEmail.dirty),
            'is-invalid': customerEmail.invalid && (customerEmail.touched || customerEmail.dirty)
          }" />
          @if (customerEmail.touched || customerEmail.dirty) {
            @if (customerEmail.hasError('required')) {
                <div  class="form-text text-danger">customer Email is required </div>
            }
            @if (customerEmail.hasError('email')) {
                <div  class="form-text text-danger">Enter a valid Email </div>
            }

          }
        </div>

        <div class="col-md-6">
            <label class="form-label">Governrate</label>
            <select id="governrate" class="form-select" [(ngModel)]="selectedGovernrateId" (change)="onGovernrateChange()" formControlName="governorateId" [ngClass]="{
                'is-valid': governorateId.valid && (governorateId.touched || governorateId.dirty),
                'is-invalid': governorateId.invalid && (governorateId.touched || governorateId.dirty)
              }">
                <option  selected disabled>  Select Governrate</option>
                    @for (gvrn of governrates; track gvrn.id) {
                            <option [ngValue]="gvrn.id"> {{ gvrn.name }}</option>
                                                             }
                </select>
                @if (governorateId.touched) {
                    @if (governorateId.hasError('required')) {
                        <div  class="form-text text-danger">governorate is required </div>
                    }
                  }
          </div>

          <div class="col-md-6">
            <label class="form-label">City</label>
            <select id="city" class="form-select" [(ngModel)]="selectedCityeId" formControlName="cityId" [ngClass]="{
                'is-valid': cityId.valid && (cityId.touched || cityId.dirty),
                'is-invalid': cityId.invalid && (cityId.touched || cityId.dirty)
              }">
                <option  selected disabled> Select City</option>
                @for (city of gvrnCities; track city.id) {
                <option [ngValue]="city.id">{{city.name}}</option>
                 
                }
            </select>
            @if (cityId.touched) {
                @if (cityId.hasError('required')) {
                    <div  class="form-text text-danger">city is required </div>
                }
              }
          </div>

          <div class="col-md-6">
            <label class="form-label">Shipping Type</label>
            <select id="deliverytype" class="form-select" formControlName="shippingTypeId"  [ngClass]="{
                'is-valid': shippingTypeId.valid && (shippingTypeId.touched || shippingTypeId.dirty),
                'is-invalid': shippingTypeId.invalid && (shippingTypeId.touched || shippingTypeId.dirty)
              }">
                <option selected disabled>Select Shipping Type</option>
                @for (type of shippingTypes; track $index) {
                <option [ngValue]="type.id">{{type.type}}</option>
                }
            </select>
            @if (shippingTypeId.touched) {
                @if (shippingTypeId.hasError('required')) {
                    <div  class="form-text text-danger">shipping Type is required </div>
                }
              }
          </div>

          <div class="col-md-6">
            <label class="form-label">Payment Type</label>
            <select id="paymentType" class="form-select" formControlName="paymentType" [ngClass]="{
                'is-valid': paymentType.valid && (paymentType.touched || paymentType.dirty),
                'is-invalid': paymentType.invalid && (paymentType.touched || paymentType.dirty)
              }">
                <option disabled selected>Payment Method</option>
                <option value="Cash"> Cash</option>
                <option value="Credit"> Credit</option>
                <option value="Order"> Order</option>
            </select>
            @if (paymentType.touched) {
                @if (paymentType.hasError('required')) {
                    <div  class="form-text text-danger">payment Method is required </div>
                }
              }
          </div>

          <div class="col-md-6">
            <label class="form-label">Branch</label>
            <select class="form-select" formControlName="branchId" [ngClass]="{
              'is-valid': branchId.valid && (branchId.touched || branchId.dirty),
              'is-invalid': branchId.invalid && (branchId.touched || branchId.dirty)
            }">
              <option selected disabled>Select Branch</option>
              @for (branch of branches; track branch.id) {
                <option [ngValue]="branch.id">{{branch.name}}</option>
              }
            </select>
            @if (branchId.touched) {
              @if (branchId.hasError('required')) {
                  <div  class="form-text text-danger">Branch is required </div>
              }
            }
          </div>
            <div class="form-check form-switch col-md-4 mt-5  ">
              <label class="form-label">Shipping to Village?</label>
              <input  class="form-check-input h4 mx-2 cursor" type="checkbox" id="flexSwitchCheckChecked"  formControlName="isVillageDelivery" [value]="isvallage" (change)="slide()" >
            </div>
           @if (isvallage) {
              <div class="col-md-6">
                  <label class="form-label">Village and street:</label>
                  <input formControlName="villageStreetAddress" class="form-control " />
                </div>
           }

                 <!-- /////////////////////////////////////// -->
                 <h4 class="">Products</h4>
                 <div formArrayName="products">
                  <div
                    *ngFor="let product of products.controls; let i = index"
                    [formGroupName]="i"
                    class="card mb-3 p-3 shadow-sm"
                  >
                    <div class="row g-3 align-items-center">
                      <!-- Name -->
                      <div class="col-md-4">
                        <label class="form-label fw-semibold">Product Name</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="name"
                          placeholder="Enter product name"
                        />
                        @if (product.get('name')?.touched || product.get('name')?.dirty) {
                          @if (product.get('name')?.hasError('required')) {
                            <div class="form-text text-danger">Product Name Is Required</div>
                          }
                          @if (product.get('name')?.hasError('minLength')) {
                            <div class="form-text text-danger">Minimum 3 Characters</div>
                          }
                        }
                      </div>

    <div class="col-md-3">
      <label class="form-label fw-semibold">Quantity</label>
      <input type="number" formControlName="quantity" class="form-control" placeholder="Enter quantity" />
      @if (product.get('quantity')?.touched || product.get('quantity')?.dirty) {
        @if (product.get('quantity')?.hasError('required')) {
          <div class="form-text text-danger">Quantity is required</div>
        }
        @if (product.get('quantity')?.hasError('min')) {
          <div class="form-text text-danger">Minimum one product</div>
        }
      }
    </div>

    <div class="col-md-3">
      <label class="form-label fw-semibold">Weight (kg)</label>
      <input type="number" formControlName="weight" class="form-control" placeholder="Enter weight" />
      @if (product.get('weight')?.touched || product.get('weight')?.dirty) {
        @if (product.get('weight')?.hasError('required')) {
          <div class="form-text text-danger">Weight is required</div>
        }
        @if (product.get('weight')?.hasError('min')) {
          <div class="form-text text-danger">Minimum 0.1 kg</div>
        }
      }
    </div>

    <div class="col-md-2 d-flex align-items-end">
      <button type="button" class="btn btn-outline-danger w-100" (click)="removeProduct(i)">
        <i class="fa fa-trash"></i> Delete
      </button>
    </div>
  </div>
</div>
<!-- } -->
</div>
<div class="text-end">
<button type="button" class="btn  add" (click)="addProduct()">
<i class="fa fa-plus"></i> Add Product
</button>
</div>

  <!-- /////////////////Merchant Data////////////////////// --> 
   <div  class="card mb-1 p-3 shadow-sm">
      <h5>Merchant Data</h5>
     <div class="row g-3 align-items-center">
          <div class="col-md-4">
                <label class="form-label fw-semibold">Phone Number</label>
                <input  formControlName="phonenumber" class="form-control" placeholder="Enter Phone Number"  [ngClass]="{
                  'is-valid': merchantphonenumber.valid && (merchantphonenumber.touched || merchantphonenumber.dirty),
                  'is-invalid': merchantphonenumber.invalid && (merchantphonenumber.touched || merchantphonenumber.dirty)
                }" />
                @if (merchantphonenumber.touched || merchantphonenumber.dirty) {
                  @if (merchantphonenumber.hasError('required')) {
                      <div  class="form-text text-danger">merchant phonenumber is required </div>
                  }
                  @if (merchantphonenumber.hasError('pattern')) {
                      <div  class="form-text text-danger">Enter Valid Phone Number</div>
                  }
                }
           </div>
          <div class="col-md-3">
                 <label class="form-label fw-semibold">Address</label>
                 <input type="text" formControlName="address" class="form-control" placeholder="Enter Address"  [ngClass]="{
                  'is-valid': merchantAddress.valid && (merchantAddress.touched || merchantAddress.dirty),
                  'is-invalid': merchantAddress.invalid && (merchantAddress.touched || merchantAddress.dirty)
                }" />
                 @if (merchantAddress.touched || merchantAddress.dirty) {
                  @if (merchantAddress.hasError('required')) {
                      <div  class="form-text text-danger">merchant Address is required </div>
                  }
                  @if (merchantAddress.hasError('minLength')) {
                      <div  class="form-text text-danger">Minimum 3 characters</div>
                  }
                }
           </div>
    </div>
  </div>
  <!-- /////////////////////////////////////// -->






                 <!-- /////////////////////////////////////// -->
          <div class="col-md-6">
            <label class="form-label">Order Price</label>
            <input type="number" class="form-control" placeholder="Order Price" formControlName="orderPrice" [ngClass]="{
                'is-valid': price.valid && (price.touched || price.dirty),
                'is-invalid': price.invalid && (price.touched || price.dirty)
              }"/>
            @if (price.touched || price.dirty) {
                @if (price.hasError('required')) {
                    <div  class="form-text text-danger">price is required </div>
                }
              }
          </div>
          <div class="col-md-6">
            <label class="form-label">Total Wieght</label>
            <input type="number" class="form-control" formControlName="totalWeight" readonly >
          </div>
      <button type="submit" class="submit-btn" >Submit</button>
      </div>
    </form>
  
  </div>