.orders-title {
  color: #083c5f;
  font-weight: bold;
}

.add-order-btn {
  background-color: #f26522;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: none;
}