
    <div class="container mt-5">
        <h2>الصلاحيات</h2>
        <div class="d-flex justify-content-between">
            <div class="mb-3 ">
                <input type="text" class="form-control " placeholder="Search...">
            </div>
            <div class=" ms-4">
                <label for="entries">Show</label>
                <select id="entries" class="">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span>entries</span>
            </div>
        </div>
       
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>عرض</th>
                    <th>تعديل</th>
                    <th>حذف</th>
                    <th>اضافه</th>
                    <th>الصلاحيات</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>الصلاحيات</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>الإعدادات</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>البنوك</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>الجذن</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>الأفرع</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>الموظفين</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>التجار</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>المتاجري</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>الحملات</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td>المدن</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
       
    </div>
